[submodule "ext/libas"]
	path = ext/libas
	url = intranet.cyber.ee:/export/samba/dokumendipuu/teadus/sevilla/repo/platform/libas.git
[submodule "ext/libexecutable"]
	path = ext/libexecutable
	url = intranet.cyber.ee:/export/samba/dokumendipuu/teadus/sevilla/repo/platform/libexecutable.git
[submodule "ext/libvmi"]
	path = ext/libvmi
	url = intranet.cyber.ee:/export/samba/dokumendipuu/teadus/sevilla/repo/platform/libvmi.git
[submodule "ext/vm_m4"]
	path = ext/vm_m4
	url = intranet.cyber.ee:/export/samba/dokumendipuu/teadus/sevilla/repo/platform/vm_m4.git
[submodule "ext/vm_globals"]
	path = ext/vm_globals
	url = intranet.cyber.ee:/export/samba/dokumendipuu/teadus/sevilla/repo/platform/vm_globals.git
