[submodule "ext/libas"]
	path = ext/libas
	url = gitosis@sharemind.cyber.ee:sharemind/libas
[submodule "ext/libexecutable"]
	path = ext/libexecutable
	url = gitosis@sharemind.cyber.ee:sharemind/libexecutable
[submodule "ext/libvmi"]
	path = ext/libvmi
	url = gitosis@sharemind.cyber.ee:sharemind/libvmi
[submodule "ext/vm_m4"]
	path = ext/vm_m4
	url = gitosis@sharemind.cyber.ee:sharemind/vm_m4
[submodule "ext/vm_globals"]
	path = ext/vm_globals
	url = gitosis@sharemind.cyber.ee:sharemind/vm_globals
